---
title: "R Notebook"
output: html_notebook
---

This is an [R Markdown](http://rmarkdown.rstudio.com) Notebook. When you execute code within the notebook, the results appear beneath the code. 

Try executing this chunk by clicking the *Run* button within the chunk or by placing your cursor inside it and pressing *Ctrl+Shift+Enter*. 
```{r}
# usando regresion lineal para predecir crecimiento de arboles de Naranjas
```


```{r}
# Cargando librerias 
library(tidyverse)
library(ggplot2)
data("Orange")
```

```{r}
#visualizamos el data set
head(Orange)
```

```{r}
# Problema/pregunta 
#cuanto medira la circunferencia de los arboles a los 800 dias de plantarlo

Orange %>% 
 ggplot(aes(x= age, 
          y = circumference)) +
  geom_point()+
  geom_abline(intercept = 17.3997,
              slope = 0.1068 ,
              col = "blue") +
  geom_vline(xintercept = 800,
             col = "red")

dias <- 800
medida <- 0.1068 * dias + 17.3997
print(medida)
```
